.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.RepGe {
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 900px;
}

.navbar {
  background-color: #060b26;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 210px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #261c06;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0;
}
.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.creategroupform {
  height: 700px;
  width: 550px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
}

.topicregform {
  height: 500px;
  width: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(24, 43, 214);
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
}

.topictable {
  margin-left: 100px;
  margin-right: 100px;
  /* background-color: rgba(0, 0, 0, 0.647); */
}

.doctable {
  margin-left: 100px;
  margin-right: 800px;
  /* background-color: rgba(0, 0, 0, 0.647); */
}

.grouptable {
  margin-left: 40px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.647);
}

.profile {
  height: 800px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.562);
}

.report {
  height: 80px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}
.profComo {
  display: flex;
  flex-direction: row;
}

.profTable {
  width: 60%;
  margin-top: 20px;
}

.list-group-flush {
  border: black;
  border-style: none;
}

.Containerregstu {
  width: 100vw;
  height: 140vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.022),
      rgba(255, 255, 255, 0.59)
    ),
    url("https://cdn1.vectorstock.com/i/1000x1000/53/00/blue-medical-background-with-text-space-vector-25875300.jpg")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Containerregstf {
  width: 100vw;
  height: 150vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.479),
      rgba(255, 255, 255, 0.089)
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7MbDWObo8na0TiWJa_HBoI1_ACoVG82OJ4A&usqp=CAU")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperregstu {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 75%;
  width: 50%;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.482);
  border-radius: 10px;
}

.wrapperregstf {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 85%;
  width: 50%;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.482);
  border-radius: 10px;
}

.titlereg {
  font-size: 24px;
  font-weight: 300;
}
.loginformreg {
  display: flex;
  flex-direction: column;
}

.inputreg {
  /* font-weight: 10px; */
  font-style: oblique;
  font-weight: 400;

  flex: 1;
  min-width: 40%;
  margin: 10px 0px;
  padding: 5px;
}

.butnreg {
  width: 80%;
  border: none;
  padding: 5px 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-left: 10%;
  margin-bottom: 10px;
}

.ContainerL {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.355)
    ),
    url("https://i.pinimg.com/originals/f2/65/4c/f2654cdb5044ab78e8ffafbd0b60d4f5.jpg")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperl {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 65%;
  width: 30%;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.profiles {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.562);
}

/* .editform{
    width: 100vw;
  height: 150vh;
} */

.uprofile {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.685),
      rgba(255, 255, 255, 0.245)
    ),
    url("https://wallpaperaccess.com/full/4208194.jpg") center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperprofile {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 65%;
  width: 120%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.stable {
  margin-left: 215px;
  margin-right: 15px;
}
.cp1 {
  height: 400px;
  width: 450px;
}

.cp5 {
  margin-top: -100px;
  font-size: larger;
}

.createsubform {
  height: 500px;
  width: 550px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
}

.cp6 {
  background-color: rgba(0, 0, 0, 0.562);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
}

.cp7 {
  height: 600px;
  width: 550px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: 2px solid black;
  margin-top: 10px;
  margin-left: 80px;
  background-color: rgba(3, 12, 12, 0.8);
  color: white;
}
.lbtn {
  margin-top: 2%;
}
