/* .container {
	width: 100px;
	min-height: 100px;
	background-color: #2941ab;
}

.songs_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */

.cp2{
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	width: auto;
	height: auto;
	outline: none;
    border: 3px solid black;
    align-items: center;
    padding: 0 5px;
}

.cp3{
	width:60%;
	margin-left: 150px;
	text-align: center;
  	margin: 0 auto;
  	border: 2px solid black;
}